In [1]:
! pip install glaredb --upgrade

Requirement already satisfied: glaredb in /opt/homebrew/anaconda3/envs/dbt/lib/python3.10/site-packages (0.9.3)

In [2]:
import glaredb

In [3]:
con = glaredb.connect('GLAREDB_CLOUD_CONNECTION_STRING')

In [4]:
con.sql(
    """
        SELECT * FROM cloud_upload('sales_data.parquet');
    """
       ).to_pandas()

,community_board,stump_diam,council_district,nta,created_at,brch_other,y_sp,nta_name,spc_latin,bbl,...,curb_loc,boro_ct,root_grate,steward,longitude,user_type,spc_common,st_senate,latitude,trunk_wire
0,107,0,3,MN14,2015-08-30,False,219825.5227,Lincoln Square,Gleditsia triacanthos var. inermis,1011310031,...,OnCurb,1014500,False,1or2,-73.98494997,Volunteer,honeylocust,27,40.77004563,False
1,107,0,3,MN14,2015-08-30,False,219885.2785,Lincoln Square,Gleditsia triacanthos var. inermis,1011310031,...,OnCurb,1014500,False,1or2,-73.98533807,Volunteer,honeylocust,27,40.77020969,False
2,104,0,3,MN15,2015-09-07,False,217157.8561,Clinton,Tilia americana,1010410019,...,OnCurb,1012700,True,None,-73.98729652,Volunteer,American linden,27,40.76272385,False
3,108,0,4,MN40,2015-08-31,True,220602.1553,Upper East Side-Carnegie Hill,Gleditsia triacanthos var. inermis,1014090050,...,OnCurb,1012800,False,1or2,-73.96045571,Volunteer,honeylocust,28,40.77217148,False
4,107,0,6,MN12,2015-09-03,False,224212.8876,Upper West Side,Quercus phellos,1011680010,...,OnCurb,1016300,False,None,-73.98096428,TreesCount Staff,willow oak,29,40.78208720,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65418,106,0,4,MN19,2015-11-30,False,216154.3591,Turtle Bay-East Midtown,Ginkgo biloba,1013317502,...,OnCurb,1010800,False,1or2,-73.96662833,TreesCount Staff,ginkgo,28,40.75996538,False
65419,106,0,4,MN19,2015-11-30,False,216232.8645,Turtle Bay-East Midtown,Ginkgo biloba,1013317503,...,OnCurb,1010800,False,1or2,-73.96714016,TreesCount Staff,ginkgo,28,40.76018100,False
65420,105,0,2,MN13,2015-11-19,False,208762.0425,Hudson Yards-Chelsea-Flatiron-Union Square,Gleditsia triacanthos var. inermis,1008507503,...,OnCurb,1005600,False,1or2,-73.98737436,TreesCount Staff,honeylocust,28,40.73967948,False
65421,106,0,4,MN19,2015-11-30,False,216046.2635,Turtle Bay-East Midtown,Ginkgo biloba,1013310017,...,OnCurb,1010800,False,None,-73.96592359,TreesCount Staff,ginkgo,28,40.75966848,False
65422,109,0,7,MN06,2015-11-18,False,238723.7185,Manhattanville,Tilia americana,1020020069,...,OnCurb,1022301,False,None,-73.95672109,TreesCount Staff,American linden,31,40.82190891,False