In [2]:
! pip install glaredb --upgrade

Requirement already satisfied: glaredb in /opt/homebrew/anaconda3/envs/glaredb_test/lib/python3.11/site-packages (0.9.5)

In [3]:
import glaredb

In [4]:
con = glaredb.connect()

In [6]:
df = con.sql(f"""

SELECT 
    p.product_id,
    p.product_name,
    p.category,
    SUM(t.total_amount) as total_sales,
    AVG(s.satisfaction_score) as avg_satisfaction,
    COUNT(DISTINCT s.survey_id) as num_surveys
FROM 
    read_postgres(
        'postgresql://postgres:postgres@localhost:5433/postgres', 
        'public',
        'transactions'
        ) t
INNER JOIN 
    read_snowflake(
        '{snowflake_account}.us-central1.gcp', 
        '{snowflake_username}',
        '{snowflake_password}',
        'sandbox',
        'compute_wh',
        'accountadmin',
        'public',
        'products'
        ) p 
ON t.product_id = p.product_id
LEFT JOIN 
    read_parquet(
            's3://glaredb-sandbox/survey_data.parquet',
            access_key_id => '{aws_access_key_id}',
            secret_access_key => '{aws_secret_access_key}',
            region=>'us-east-2'
            ) s ON t.product_id = s.product_id
GROUP BY 
    p.product_id, p.product_name, p.category
HAVING num_surveys > 3
ORDER BY 
    total_sales DESC
LIMIT 20;


""").to_pandas()

df

,product_id,product_name,category,total_sales,avg_satisfaction,num_surveys
0,105,Portable Laptop,Electronics,18521735.40,3.20,45
1,112,High-Performance Tablet,Electronics,15218819.52,2.74,58
2,109,Deluxe Monitor,Electronics,12704637.00,3.25,60
3,106,Smart Desk,Furniture,10943635.20,3.08,60
4,110,Noise-Cancelling Headphones,Electronics,5309734.50,3.04,45
5,111,Compact Printer,Electronics,3724213.50,2.84,50
6,118,Portable External SSD,Electronics,2988387.92,3.16,56
7,114,4K Webcam,Electronics,2607993.96,3.12,57
8,102,Wireless Mouse,Electronics,2491688.50,3.18,50
9,104,Smart Speaker,Electronics,2456754.30,2.90,39
10,108,Wireless Keyboard,Electronics,2388514.58,2.91,46
11,107,Eco-Friendly Lamp,Accessories,1993707.66,2.93,58
12,103,Coffee Maker,Appliances,1979604.00,3.21,66
13,120,Smart Light Bulb Set,Appliances,1657523.70,2.87,45
14,113,Fast-Charging Power Bank,Accessories,1475704.80,3.23,48
15,101,Ergonomic Chair,Furniture,1331513.54,3.03,29
16,116,Adjustable Monitor Stand,Furniture,1209697.50,3.04,50
17,119,Cable Management Kit,Accessories,744302.16,3.35,51
18,117,Wireless Charging Pad,Electronics,656421.12,3.24,38
19,115,Ergonomic Mouse Pad,Accessories,615132.28,3.18,49

In [9]:
df = con.sql(f"""
WITH combined_transactions AS (
    SELECT
        product_id,
        total_amount
    FROM
        read_postgres(
        'postgresql://postgres:postgres@localhost:5433/postgres', 
        'public',
        'transactions'
        ) t
    
    UNION ALL
    
    SELECT
        product_id,
        total_amount
    FROM
        './store_transactions.csv'
)

SELECT 
    p.product_id,
    p.product_name,
    p.category,
    SUM(ct.total_amount) as total_sales,
    AVG(s.satisfaction_score) as avg_satisfaction,
    COUNT(DISTINCT s.survey_id) as num_surveys
FROM combined_transactions ct
    
INNER JOIN 
    read_snowflake(
        '{snowflake_account}.us-central1.gcp', 
        '{snowflake_username}',
        '{snowflake_password}',
        'sandbox',
        'compute_wh',
        'accountadmin',
        'public',
        'products'
        ) p 
ON ct.product_id::int = p.product_id
LEFT JOIN 
    read_parquet(
            's3://glaredb-sandbox/survey_data.parquet',
            access_key_id => '{aws_access_key_id}',
            secret_access_key => '{aws_secret_access_key}',
            region=>'us-east-2'
            ) s ON ct.product_id = s.product_id
GROUP BY 
    p.product_id, p.product_name, p.category
HAVING num_surveys > 3
ORDER BY 
    total_sales DESC
LIMIT 10;


""").to_pandas()

df

,product_id,product_name,category,total_sales,avg_satisfaction,num_surveys
0,105,Portable Laptop,Electronics,21608691.30,3.20,45
1,112,High-Performance Tablet,Electronics,16541186.46,2.74,58
2,109,Deluxe Monitor,Electronics,13607611.20,3.25,60
3,106,Smart Desk,Furniture,12311589.60,3.08,60
4,110,Noise-Cancelling Headphones,Electronics,5966701.65,3.04,45
5,111,Compact Printer,Electronics,4250673.00,2.84,50
6,118,Portable External SSD,Electronics,3346188.16,3.16,56
7,102,Wireless Mouse,Electronics,2935633.00,3.18,50
8,114,4K Webcam,Electronics,2763014.58,3.12,57
9,108,Wireless Keyboard,Electronics,2715538.24,2.91,46